.review{
    background-color: aqua;
    width: 90.5%;
    height: 100%;


}

.reviewtitle{
    background-color: orange;
    width: 100%;
    height: 20px;
}

.reviewdetails{
    background-color: pink;
    width: 90.5%;
    height: 200px;
}